@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
    background-color: rgb(135, 250, 212);
    font-family: 'Montserrat', sans-serif;
    color:darkblue
}
.col{
    background-color: rgb(119, 61, 211);
    font-family: 'Montserrat', sans-serif;
    color:darkblue
}
.container{
    margin-top:20px;
    border-radius: 15px;
}